header{

	padding: 15px 0;
	background: $primary-color;

	.container {
		display: flex;
	}

	a {
		font-size: 18px;
		text-decoration: none;
		color: #fff;

		&:hover {
			color: $secondary-color;
		}
		&.logo {
			max-width: 150px;
		}
	}
}

.header-navigation {
	display: flex;
	align-items: flex-end;
	gap: 25px;
	margin-left: 48px;
}
