<div class="floor-options">
	<div class="floor-option-item">
		<div>Номер дома:</div>
	 	<div>7</div>
	</div>
	<div class="floor-option-item">
		<div>Этаж:</div>
		<div>1</div>
	</div>
	<div class="floor-option-item">
		<div>Номер квартиры:</div>
		<div id="flat-number">14</div>
	</div>
	<div class="floor-option-item">
		<div>Кол-во комнат:</div>
		<div>3</div>
	</div>
	<div class="floor-option-item">
		<div>Площадь квартиры:</div>
		<div>79,3 м.кв.</div>
	</div>
	<div class="floor-option-item">
		<div>Цена за м²:</div>
		<div>1900$</div>
	</div>
	<div class="floor-option-item">
		<div>Цена за квартиру:</div>
		<div>150670$</div>
	</div>
	<div class="floor-option-item">
		<div>Статус увартиры:</div>
		<div>Продана</div>
	</div>
</div>
